body {
    margin: 0px;
    font-family: sans-serif;
}

.content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: .75fr 1.25fr 22fr;
    grid-template-columns: 4fr 21fr;
}

.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
    background-color: #3F3C3C;
    color: white;
    padding: 10px 0px 10px;
    font-weight: bold;
}

.nav {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: #E14E43;
    display: grid;
    grid-template-columns: 4fr 21fr;
    justify-items: end;
}

.nav > .left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.left > input[type="image"] {
    width: 25px;
    height: 25px;
}

.add {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    justify-self: left;
    align-self: center;
}

.search {
    grid-column: 1 / 2;
    width: 185px;
    color: white;
    background-color: #E87168;
    height: 50%;
    border: none;
    align-self: center;
    padding-left: 15px;
    border-radius: 5px;
}

.search::placeholder {
    color: white;
}

.add {
    grid-column: 2 / 3;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: #FAFAFA;

}

.project {
    grid-column: 2 / 3;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-header {
    padding-top: 3%;
    padding-bottom:  20px;
    display: flex;
    width: 50vw;
    justify-content: space-between;
}

.project-name {
    font-weight: bold;
    font-size: 1.5rem;
}

.entries {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;

}

.entry {
    width: 100%;
    display: grid;
    grid-template-columns: auto 5fr;
    grid-template-rows: 1fr .8fr .8fr;
}

.checkbox {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    margin-right: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.title {
    font-size: 1.25rem;
}

.description, .dueDate {
    font-size: .9rem;
}

hr {
    background-color: #F0F0F0;
    width: 100%;
    grid-column: 1 / 3;
}

.form {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;

    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
    box-shadow: 0 0 50px #ccc;
    padding: 30px;
    border-radius: 10px;
}

form {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type="text"] {
    border: 0;
}



input[type="text"]:focus {
    outline: none;
}

.finishButtons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.priorityRadios, .projectRadios {
    display: none;
    position: absolute;
    background-color: white;

    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
    box-shadow: 0 0 50px #ccc;
    border-radius: 5px 5px 15px 15px;
    overflow: hidden;
    padding-bottom: 10px;
}

.options {
    display: flex;
}

.dropdown {
    position: relative;
}

.priorityRadios > *, .projectRadios > * {
    display: flex;
    background-color: white;
    padding: 10px;
    text-align: center;

}